/* CSS style mimicking 90s Microsoft's documentation, specifically "Windows 3.1: User's Guide" */

@font-face {
	/* For some reason Firefox refuses to use Arial, Times and Courier, and instead insists on "Liberation Sans" and similar */
	font-family: 'ArialNarrowOG';
	font-style: normal;
	font-weight: normal;
	src:
		local('ArialNarrowOG'),
		url('arialn.ttf') format('truetype');
}

@font-face {
	font-family: 'ArialNarrowOG';
	font-style: normal;
	font-weight: bold;
	src:
		local('ArialNarrowOG'),
		url('arialnb.ttf') format('truetype');
}

@font-face {
	font-family: 'TimesOg';
	font-style: normal;
	font-weight: normal;
	src:
		local('TimesOg'),
		url('times.ttf') format('truetype');
}

@font-face {
	font-family: 'TimesOg';
	font-style: normal;
	font-weight: bold;
	src:
		local('TimesOg'),
		url('timesbd.ttf') format('truetype');
}

@font-face {
	font-family: 'CourierOg';
	font-style: normal;
	font-weight: normal;
	src:
		local('CourierOg'),
		url('cour.ttf') format('truetype');
}

@font-face {
	font-family: 'CourierOg';
	font-style: normal;
	font-weight: bold;
	src:
		local('CourierOg'),
		url('courbd.ttf') format('truetype');
}

@font-face {
	font-family: 'CourierOg';
	font-style: italic;
	font-weight: normal;
	src:
		local('CourierOg'),
		url('couri.ttf') format('truetype');
}

@page {
	margin: 1.8cm;

	@bottom-right {
		font-family: "TimesOG", serif;
		font-size: 0.9rem;
		content: counter(page);
	}
}

body {
	font-family: "TimesOG", serif;
	font-size: 0.95rem;
	line-height: 1.25;
}

a {
	color: inherit;
}

h1,
h2,
.AsideTitle {
	font-family: "ArialNarrowOG", sans-serif;
	font-weight: bold;
}

h1,
h2 {
	break-after: avoid;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem;
}

aside {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0.2rem 0;
	margin-left: 5rem;
}

li aside {
	margin: 1rem 0;
}

li {
	margin: 0.25em 0;
}

td {
	padding: 0.25em 1rem 0.25em 0;
	vertical-align: top;
}

ol,
ul {
	padding-left: 0;
}

li p {
	margin-left: 0;
}

ol,
ul,
p,
table {
	margin-left: 5rem;
}

ul {
	list-style-type: square;
}

code,
.Block,
.DontBreak {
	break-inside: avoid;
}

code {
	font-family: "CourierOG", monospace;
	white-space: nowrap;
	font-size: 0.9rem;
}

span.Comment {
	color: #42791d;
	font-style: italic;
}

span.Keyword {
	color: #c0173c;
}

pre {
	font-family: "CourierOG", monospace;
}

table {
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.Width25 {
	width: 25%;
}

figure {
	float: right;
	margin: 0 0 0.8rem 0.8rem;
	width: 16rem;
}

figcaption,
footer,
.LegalFluff {
	font-size: 0.75rem;
}

figcaption,
footer {
	text-align: right;
}

img {
	width: 100%;
}

.Block {
	display: block;
}

.Break {
	break-before: page;
}
